* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  /* Nav bar */
  body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;

  
  }

  #logo {
    width: 200px;
    height: 150px;
    border: none;
    border-radius: 80%;
}
  
  header {
    background-color: #cccccc;
    color: #fff;
    padding: 10px;
    text-align: center;
  } 
  
  /* navbar */
  .side-bar {
  
    background-color: #007bff;
    position: fixed;
    width: 240px;
    /* height: 100%; */
    top: 0;
    left: 0;
    padding: 20px 0;
    transition: all, 0.5s, ease;
  }

  .top-nav-bar{
    margin: 10px auto auto 20px;
    display: flex;
    flex-direction: row;
  }
  
  .close-btn{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 1.5rem;
  }
  
  .side-bar-btn{
    width: 30px;
    height: 30px;
    font-size: 1.3rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 15px;
    color: #007bff;
    margin: 10px;
  }
  
  .nav-bar-container img{
    width: 250px;
    height: 60px;
  
  }
  
  .profile {
    margin-bottom: 25px;
    text-align: center;
  
  
  }
  
  .profile img {
    display: block;
    width: 85px;
    height: 85px;
    border-radius:100%;
    margin: 0 auto;
  }
  
  .profile h3 {
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 10px 0 5px;
  }
  
  .nav-bar {
    display: flex;
    flex-direction: column;
  }
  
  .nav-bar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 8px 0 8px 0;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .icon {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
  }
  
  .nav-bar a:hover,
  .nav-bar a:active {
    color: #0c7db1;
    background: white;
    border-right: 2px solid rgb(5, 68, 104);
  }
  
  .nav-bar a:hover .icon,
  .nav-bar a.active .icon {
    color: #0c7db1;
  }
  
  .nav-bar a:hover:before,
  .nav-bar a.active:before {
    display: block;
  }
  
  .logout {
    margin: 40vh auto auto 7vh;
  }
  
  .logout a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
    border: 1px solid aliceblue;
    padding-left: 40px;
    padding-right: 40px;
    /* width: 150px; */
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
  }
  
  .logout a:hover,
  .logout a:active {
    background-color: #dee4ec;
    color: #007bff;
  }
  
  
  body {
    background-color: #f7f9fd;
  }
  .wrap {
    width: 90%;
    font-size: 16px;
    max-width: 43.75em;
    margin: 1em auto;
  }
  .container {
    width: 100%;
  }
  .sub-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wrap h3 {
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
  }
  .container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
  }
  .container input:focus {
    border-color: #018786;
  }
  
  .user-amount-container {
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    width: 700px;
    
  }
  .output-container {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
  }
  .output-container p {
    font-weight: 500;
    margin-bottom: 0.6em;
  }
  .totalExpenses{
    text-align: center;
    flex: auto;
  }
  .output-container span {
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
  }
  .submit {
    font-size: 1em;
    margin-top: 0.8em;
    background-color: #007bff;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
  }
  .list {
    background-color: #ffffff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    border-radius: 0.6em;
  }
  .sublist-content {
    width: 100%;
    border-left: 0.3em solid #007bff;
    margin-bottom: 0.6em;
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
  }
  .product {
    font-weight: 500;
    color: #363d55;
  }
  .amount {
    color: #414a67;
    margin-left: 20%;
  }
  .icons-container {
    width: 5em;
    margin: 1.2em;
    align-items: center;
  }
  .product-title {
    margin-bottom: 1em;
  }
  .hide {
    display: none;
  }
  .error {
    color: #ff465a;
  }
  .edit {
    margin-left: auto;
  }
  .edit,
  .delete {
    background: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #007bff;
  }
  @media screen and (max-width: 600px) {
    .wrap {
      font-size: 14px;
    }
    .sub-container {
      grid-template-columns: 1fr;
      gap: 1em;
    }
  }